@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/*start here*/



.main{
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1515824955341-43172b4d8260?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center no-repeat; 
  background-size: cover;
  position: relative;
}
.mian::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.counter-box{
  width: 33%;
  text-align: center;
  color: var(--white);
  z-index: 1;

}
.counter-box > *{
  margin-bottom: 1rem;
}

.counter-box i, .counter-box .counter{
  font-size: 4rem;
}
.counter-box span{
  font-size: 2rem;
}
